page-create-user {

}

.colors{
        background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.tittle
{
    color: white;
    text-align: center;
}
.form{
    position: absolute;
    top: 25%;
    left : 25%;
    width: 53%;
}
.user_image{
    position: relative;
    top:0%;
    left:35%;
}
.image_user{
    height: 15vw; 
    width: 15vw; 
   border: 2px solid transparent;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}
.save_user_button{
    width: 100%;
}

.change_avatar{
    color: white;
    position: relative;
    right: 7%;
    text-align: center;
}