page-create-user {

}
.tittle
{
    color: white;
    text-align: center;
}
.form{
    position: absolute;
    top: 25%;
    left : 25%;
    width: 53%;
}
.user_image{
    position: relative;
    top:0%;
    left:35%;
}
.save_user_button{
    width: 100%;
}