page-about {
    background: cornflowerblue;

}

.dane-logo {
    height: 40%;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;

}
.prarafe1 {
    color: white;
    text-align: center;
}

.logo-container {
	height: 30%;
    width: 100%;
}

.logo-superapp {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    height: 100%;
    width: 40%;
    margin-left: auto; 
    margin-right: auto;

}

.logo-img {
    height: 40%;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    padding: 30px;
}

.logo-text {
    height: 50%;
    width: 100%;
    text-align: center;
}

h1 {
    color: chartreuse;
}