page-about {
    background: cornflowerblue;

}

.dane-logo {
    height: 6%;
    width: 15%;

}
.prarafe1 {
    color: white;
    text-align: center;
}


.logo2 {
    display: flex;
    justify-content: center;
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    height: 20%;
    width: 40;
}
