.supermarket-container {
    
    background-image: url(../../assets/imgs/backgroundlista0.jpg);
    background-size: contain;
    background-repeat: round;

    .nav-bar-market {
        
        float: left;
        display: inline-flex;
        width: 100%;
        margin-bottom: 10px;

        &__button {
            box-shadow: none;
            background-color: transparent;
            color: #ffffff;
            padding: 5px;
            margin: auto;
        }

        &__header {
            
            margin: 5px;
            width: 100%;

            .title {
                color: white;
                text-align: center;
                font-size: 30px;
                margin: auto;
            }
        }

        &__sound {
            margin: auto;
            width: 60px;
            height: 50px;
        }
        
    }

    .products-supermaket-container {
        
        background-image: url('../../assets/imgs/shelves.png');
        display: flex;
        width: 100%;
        background-size: 50% 100%;
        background-repeat: no-repeat;
        height: 80%;

        .products-to-play {

            width: 50%;
            margin: 10px;
            margin-left: 50px;

            @media screen and (max-width: 1367px) {
                margin: 10px;
            }

            .product-block {

                display: inline-block;
                width: 150px;
                height: 20px;
                padding: 30px;
                margin-bottom: 65px;
                margin-top: 50px;
                float: left;
                z-index: 9999;
                position: sticky;

                .product-info {

                    border: solid 1px black;
                    border-radius: 8px;
                    background-color: #fff;
                    overflow: hidden;
                    font-family: Arial;
                    font-weight: bold;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    
                    .product-store {
                        object-fit: fill;
                        width: 100%;
                    }
                    
                    .product-name {
                        font-size: 0.85em;
                    }
                    
                    .hidden-product {
                        font-size: 0.85em;
                        visibility: hidden;
                    }
                }

                @media screen and (max-width: 1367px) {
                    
                    width: 120px;
                    height: 20px;
                    margin-bottom: 119px;
                    margin-top: 100px;
                    margin-left: 25px;
                    padding: 0px;
                    position: sticky;
                    
                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 1.3em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            visibility: hidden;
                            font-size: 1.3em;
                            overflow: hidden;
                        }
                    }
                }

                @media screen and (max-width: 1025px) {
                    
                    width: 90px;
                    padding: 0px;
                    height: 20px;
                    margin-bottom: 110px;
                    margin-top: 50px;
                    margin-left: 15px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            visibility: hidden;
                            font-size: 1em;
                            overflow: hidden;
                        }
                    }
                }

                @media screen and (max-width: 824px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 58px;
                    margin-top: 15px;
                    margin-left: 17px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }

                }

                @media screen and (max-width: 813px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 55px;
                    margin-top: 9px;
                    margin-left: 17px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }

                }

                @media screen and (max-width: 737px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 58px;
                    margin-top: 15px;
                    margin-left: 10px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
                }

                @media screen and (max-width: 668px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 56px;
                    margin-top: 8px;
                    position: sticky;
                    margin-left: 5px;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }

                @media screen and (max-width: 641px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 52px;
                    margin-top: 8px;
                    margin-left: 5px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }

                @media screen and (max-width: 569px) {
                    
                    width: 50px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 40px;
                    margin-top: 10px;
                    margin-left: 5px;
                    position: sticky;

                    .product-info {

                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }

                        .product-name {
                            font-size: 0.45em;
                            overflow: hidden;
                        }

                        .hidden-product {
                            font-size: 0.45em;
                            visibility: hidden;
                        }
                    }
                }

            }

        }

        .products-to-buy {

            width: 50%;
            height: 80%;
            border: solid 2px black;
            border-radius: 8px;
            background-color: #fff;
            text-align: center;
    
            .title {
                margin-top: 10px;
                font-size: 2em;
   
                @media screen and (max-width: 1367px) {
                    margin-top: 10px;
                    font-size: 4em;
                }

                @media screen and (max-width: 824px) {
                    margin-top: 10px;
                    font-size: 2em;
                }

                @media screen and (max-width: 668px) {
                    margin-top: 10px;
                    font-size: 1.5em;
                }

                @media screen and (max-width: 569px) {
                    margin-top: 10px;
                    font-size: 1.5em;
                }
            }
    
            .product-block {
    
                display: inline-block;
                width: 180px;
                height: 50px;
                padding: 30px;
                margin-bottom: 65px;
                margin-top: 50px;
                margin-left: 40px;
                float: left;
                z-index: 1;
    
    
                .product-info {
    
                    border: solid 1px black;
                    border-radius: 8px;
                    background-color: #fff;
                    overflow: hidden;
                    font-family: Arial;
                    font-weight: bold;
                    
                    .product-store {
                        object-fit: fill;
                        width: 100%;
                    }
                    
                    .product-name {
                        font-size: 0.85em;
                    }
                    
                    .hidden-product {
                        font-size: 0.85em;
                        visibility: hidden;
                        object-fit: fill;
                    }
                }
    
                @media screen and (max-width: 1367px) {
                    
                    width: 120px;
                    height: 20px;
                    margin-top: 120px;
                    margin-left: 60px;
                    padding: 0px;
                    margin-right: 26px;
                    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 1.3em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1.3em;
                            overflow: hidden;
                        }
                    }
                }
    
                @media screen and (max-width: 1025px) {
                    
                    width: 90px;
                    padding: 0px;
                    height: 20px;
                    margin-bottom: 105px;
                    margin-top: 50px;
                    margin-left: 40px;
    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1em;
                            overflow: hidden;
                        }
                    }
                }
    
                @media screen and (max-width: 824px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 55px;
                    margin-top: 15px;
                    margin-left: 35px;
                    margin-right: 30px;

                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
    
                }
    
                @media screen and (max-width: 813px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 55px;
                    margin-top: 5px;
                    margin-left: 35px;
    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
    
                }
    
                @media screen and (max-width: 737px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 55px;
                    margin-top: 18px;
                    margin-left: 20px;
                    float: none;
    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
                }
    
                @media screen and (max-width: 668px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 54px;
                    margin-top: 10px;
                    margin-left: 5px;
                    float: right;

                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }
    
                @media screen and (max-width: 641px) {
                    
                    width: 60px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 57px;
                    margin-top: 2px;
                    margin-left: 7px;
                    margin-right: 6px;
                    float: none;
    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }
    
                @media screen and (max-width: 569px) {
                    
                    width: 50px;
                    height: 20px;
                    padding: 0px;
                    margin-bottom: 42px;
                    margin-top: 10px;
                    margin-left: 8px;
                    float: none;
    
                    .product-info {
    
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
    
                        .product-name {
                            font-size: 0.45em;
                            overflow: hidden;
                        }
    
                        .hidden-product {
                            font-size: 0.45em;
                            visibility: hidden;
                        }
                    }
                }
    
            }
        }
        
    }

    .carrito_container {

        position: absolute;
        margin-top: -150px;
        left: 70%;

        @media screen and (max-width: 1367px) {
            margin-top: -190px;
            left: 65%;
        }

        @media screen and (max-width: 1025px) {
            margin-top: -145px;
            left: 65%;
        }

        @media screen and (max-width: 824px) {
            margin-top: -85px;
            left: 70%;
        }

        @media screen and (max-width: 813px) {
            margin-top: -80px;
            left: 70%;
        }

        @media screen and (max-width: 737px) {
            margin-top: -84px;
            left: 70%;
        }

        @media screen and (max-width: 668px) {
            margin-top: -70px;
            left: 70%;
        }

        @media screen and (max-width: 569px) {
            margin-top: -70px;
            left: 70%;
        }
    }

    .product-block {
        display: inline-block;
        margin: 2px;
        position: relative;
        width: 70px;
        height: 70px;
        @media screen and (max-width: 1367px) {
            margin-left: 2px;
            margin-right: 13px;
            margin-bottom: 13px;
        }
        @media screen and (max-width: 1367px) {
            margin-left: 3px;
            margin-right: 11px;
            margin-bottom: 15px;
            width: 141px;
            height: 122px;
        }
        @media screen and (max-width: 1024px) {
            width: 106px;
            height: 105px;
        }
        @media screen and (max-width: 824px) {
            width: 67px;
            height: 60px;
        }
        @media screen and (max-width: 668px) {
            margin: 5px;
            width: 70px;
            height: 60px;
        }
        @media screen and (max-width: 640px) {
            width: 70px;
            height: 60px;
        }
        @media screen and (max-width: 568px) {
            width: 60px;
            height: 50px;
        }
    }

    .product-store {
        object-fit: fill;
        width: 70%;
        height: 50px;
        @media screen and (max-width: 1367px) {
            height: 77px;
        }
        @media screen and (max-width: 1024px) {
            height: 77px;
        }
        @media screen and (max-width: 824px) {
            height: 42px;
        }
        @media screen and (max-width: 668px) {
            height: 42px;
        }
        @media screen and (max-width: 640px) {
            height: 40px;
        }
        @media screen and (max-width: 568px) {
            height: 30px;
        }
    }

    .product-name {
        font-size: 0.35em;
        text-align: center;
        margin-top: -3px;
    }

    .icon-image {
        height: 100%;
    }

    .gu-hide {
        left: -9999px !important;
    }

    .gu-unselectable {
        user-select: none !important;
    }

    .gu-transit {
        visibility: hidden;
        font-size: 0.05em;
        text-align: center;
        padding-bottom: 10px;
    }

    .hide {
        display: none;
    }

    .categories-block {
        display: inline-block;
        width: 54%;
        float: left;

        @media screen and (max-width: 1367px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 60%;
        }

        @media screen and (max-width: 1025px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 60%;
        }

        @media screen and (max-width: 824px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 813px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 737px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 732px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 668px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 641px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }

        @media screen and (max-width: 569px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }


        .category-button {
            width: 40vw;
            object-fit: contain;
        }

        .hide {
            display: none;
        }
    }

    .product-container {

        position: relative;
        height: 70px;

        @media screen and (max-width: 1367px) {
            height: 120px;
        }

        @media screen and (max-width: 1025px) {
            height: 100px;
        }

        @media screen and (max-width: 824px) {
            height: 60px;
        }

        @media screen and (max-width: 813px) {
            height: 60px;
        }

        @media screen and (max-width: 737px) {
            height: 62px;
        }

        @media screen and (max-width: 732px) {
            height: 62px;
        }

        @media screen and (max-width: 641px) {
            height: 60px;
        }

        @media screen and (max-width: 569px) {
            height: 50px;
        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }
    
    .product-absolute {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
    }

    .center-element {
        position: absolute;
        top: 50%;
    }

    .arrow {
        height: 8vh;
        width: 3.8vw;
    }

}
