.supermarket-container {
    background-image: url(../../assets/imgs/backgroundlista0.jpg);
    background-size: contain;
    background-repeat: round;
    .nav-bar-market {
        float: left;
        display: inline-flex;
        width: 100%;
        &__button {
            box-shadow: none;
            background-color: transparent;
            color: #ffffff;
            padding: 5px;
            margin: auto;
        }
        &__header {
            margin: 5px;
            width: 100%;
            .title {
                color: white;
                text-align: center;
                font-size: 30px;
                margin: auto;
            }
        }
        &__sound {
            position: fixed;
            right: 0px;
            top: 1%;
            width: 8%;
        }
        &__coin-icon {
            margin-left: 4vw;
            img {
                margin-top: 1.6vh;
            }
        }
        &__coins-amount {
            margin-left: 1vw;
            .coins-number {
                color: white;
                margin-top: 1.6vh;
            }
        }
        &__help-button {
            margin-left: 4vw;
        }
    }
    .products-supermaket-container {
        background-image: url('../../assets/imgs/shelves.png');
        display: flex;
        width: 100%;
        background-size: 50vw 72.5vh;
        background-repeat: no-repeat;
        height: 80%;
        @media screen and (max-width: 1367px) {
            background-size: 50vw 75vh;
        }
        @media screen and (max-width: 824px) {
            background-size: 50vw 71vh;
        }
        @media screen and (max-width: 813px) {
            background-size: 50vw 71vh;
        }
        @media screen and (max-width: 668px) {
            background-size: 50vw 73vh;
        }
        @media screen and (max-width: 641px) {
            background-size: 50vw 72.5vh;
        }
        @media screen and (max-width: 568px) {
            background-size: 50vw 70vh;
        }
        .products-to-play {
            width: 60%;
            margin: 0;
            margin-left: 1.5vw;
            .product-block {
                display: inline-block;
                width: 150px;
                height: 20px;
                padding: 30px;
                margin-bottom: 65px;
                margin-top: 50px;
                float: left;
                z-index: 9999;
                position: sticky;
                .product-info {
                    border: solid 1px black;
                    border-radius: 8px;
                    background-color: #fff;
                    overflow: hidden;
                    font-family: Arial;
                    font-weight: bold;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    .product-store {
                        object-fit: fill;
                        width: 100%;
                    }
                    .product-name {
                        font-size: 0.85em;
                    }
                    .hidden-product {
                        font-size: 0.75em;
                        visibility: hidden;
                    }
                }
                @media screen and (max-width: 1367px) {
                    width: 11vw;
                    height: 4vh;
                    margin-bottom: 11.2vh;
                    margin-top: 8vh;
                    margin-left: 0vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1.3em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1.2em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 1025px) {
                    width: 11vw;
                    height: 4vh;
                    margin-bottom: 12.7vh;
                    margin-top: 5.5vh;
                    margin-left: 0vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.90em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 961px) {
                    width: 9vw;
                    height: 4vh;
                    margin-bottom: 13vh;
                    margin-top: 4vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.90em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 824px) {
                    width: 9vw;
                    height: 4vh;
                    margin-bottom: 13vh;
                    margin-top: 4.5vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 813px) {
                    width: 9vw;
                    height: 4vh;
                    margin-bottom: 14.9vh;
                    margin-top: 2.8vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 741px) {
                    width: 9vw;
                    height: 4vh;
                    margin-bottom: 15.5vh;
                    margin-top: 2vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 737px) {
                    width: 9vw;
                    height: 4vh;
                    margin-bottom: 13.7vh;
                    margin-top: 4vh;
                    margin-left: 10px;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 668px) {
                    width: 10vw;
                    height: 4vh;
                    margin-bottom: 14.6vh;
                    margin-top: 3.5vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.45em;
                            visibility: hidden;
                        }
                    }
                }
                @media screen and (max-width: 641px) {
                    width: 10vw;
                    height: 4vh;
                    margin-bottom: 14.5vh;
                    margin-top: 3.5vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.35em;
                            visibility: hidden;
                        }
                    }
                }
                @media screen and (max-width: 570px) {
                    width: 10vw;
                    height: 4vh;
                    margin-bottom: 15.5vh;
                    margin-top: 2vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.35em;
                            visibility: hidden;
                        }
                    }
                }
                @media screen and (max-width: 568px) {
                    width: 10vw;
                    height: 4vh;
                    margin-bottom: 12.7vh;
                    margin-top: 4.5vh;
                    margin-left: 1vw;
                    padding: 0px;
                    position: sticky;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.35em;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .products-to-buy {
            width: 50%;
            height: 70%;
            border: solid 2px black;
            border-radius: 20px;
            background-color: #fff;
            text-align: center;
            @media screen and (min-width: 1023px) and (max-width: 1367px) {
                height: 60%;
            }
            .title {
                margin-top: 10px;
                font-size: 2em;
                font-weight: bold;
                @media screen and (max-width: 1367px) {
                    margin-top: 10px;
                    font-size: 4em;
                }
                @media screen and (max-width: 824px) {
                    margin-top: 10px;
                    font-size: 2em;
                }
                @media screen and (max-width: 668px) {
                    margin-top: 10px;
                    font-size: 1.5em;
                }
                @media screen and (max-width: 569px) {
                    margin-top: 10px;
                    font-size: 1.5em;
                }
            }
            .product-block {
                display: inline-block;
                width: 150px;
                height: 60px;
                padding: 30px;
                margin-bottom: 65px;
                margin-top: 30px;
                margin-left: 40px;
                float: left;
                z-index: 1;
                .product-info {
                    border: solid 1px black;
                    border-radius: 8px;
                    background-color: #fff;
                    overflow: hidden;
                    font-family: Arial;
                    font-weight: bold;
                    .product-store {
                        object-fit: fill;
                        width: 100%;
                    }
                    .product-name {
                        font-size: 0.85em;
                    }
                    .hidden-product {
                        font-size: 0.85em;
                        visibility: hidden;
                        object-fit: fill;
                    }
                }
                @media screen and (max-width: 1367px) {
                    width: 17%;
                    height: 0%;
                    margin-left: 60px;
                    padding: 0px;
                    margin-right: 26px;
                    margin-bottom: 120px;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1.3em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1.3em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 1025px) {
                    width: 20%;
                    height: 0%;
                    padding: 0px;
                    margin-bottom: 105px;
                    margin-top: 20px;
                    margin-left: 30px;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 961px) {
                    width: 19%;
                    height: 0%;
                    padding: 0px;
                    margin-bottom: 87px;
                    margin-top: 7px;
                    margin-left: 28px;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 1em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 1em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 824px) {
                    width: 18%;
                    height: 4%;
                    padding: 0px;
                    margin-top: 10px;
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 0px;
                    float: none;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 813px) {
                    width: 16%;
                    height: 3%;
                    padding: 0px;
                    margin-bottom: 55px;
                    margin-top: 5px;
                    margin-left: 35px;
                    float: left;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 737px) {
                    width: 18%;
                    height: 4%;
                    padding: 0px;
                    margin-top: 10px;
                    margin-left: 15px;
                    margin-right: 15px;
                    float: none;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            visibility: hidden;
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                    }
                }
                @media screen and (max-width: 668px) {
                    width: 19%;
                    height: 3%;
                    padding: 0px;
                    margin-bottom: 54px;
                    margin-top: 10px;
                    float: none;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }
                @media screen and (max-width: 641px) {
                    width: 21%;
                    height: 3%;
                    padding: 0px;
                    margin-bottom: 57px;
                    margin-top: 2px;
                    margin-left: 7px;
                    margin-right: 6px;
                    float: none;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.55em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.55em;
                            visibility: hidden;
                        }
                    }
                }
                @media screen and (max-width: 569px) {
                    width: 23%;
                    height: 4%;
                    padding: 0px;
                    margin-bottom: 42px;
                    margin-top: 10px;
                    margin-left: 8px;
                    float: none;
                    .product-info {
                        border: solid 1px black;
                        border-radius: 8px;
                        background-color: #fff;
                        overflow: hidden;
                        font-family: Arial;
                        font-weight: bold;
                        .product-store {
                            object-fit: fill;
                            width: 100%;
                        }
                        .product-name {
                            font-size: 0.45em;
                            overflow: hidden;
                        }
                        .hidden-product {
                            font-size: 0.45em;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    .carrito_container {
        position: absolute;
        bottom: 0px;
        overflow: hidden;
        left: 70%;
        @media screen and (max-width: 1367px) {
            left: 62%;
        }
        @media screen and (max-width: 824px) {
            left: 67%;
        }
    }
    .product-block {
        display: inline-block;
        margin: 2px;
        position: relative;
        width: 70px;
        height: 70px;
        @media screen and (max-width: 1367px) {
            margin-left: 2px;
            margin-right: 13px;
            margin-bottom: 13px;
        }
        @media screen and (max-width: 1367px) {
            margin-left: 3px;
            margin-right: 11px;
            margin-bottom: 15px;
            width: 141px;
            height: 122px;
        }
        @media screen and (max-width: 1024px) {
            width: 106px;
            height: 105px;
        }
        @media screen and (max-width: 824px) {
            width: 67px;
            height: 60px;
        }
        @media screen and (max-width: 668px) {
            margin: 5px;
            width: 70px;
            height: 60px;
        }
        @media screen and (max-width: 640px) {
            width: 70px;
            height: 60px;
        }
        @media screen and (max-width: 568px) {
            width: 60px;
            height: 50px;
        }
    }
    .product-store {
        object-fit: fill;
        width: 70%;
        height: 50px;
        @media screen and (max-width: 1367px) {
            height: 77px;
        }
        @media screen and (max-width: 1024px) {
            height: 77px;
        }
        @media screen and (max-width: 961px) {
            height: 56px;
        }
        @media screen and (max-width: 824px) {
            height: 42px;
        }
        @media screen and (max-width: 668px) {
            height: 42px;
        }
        @media screen and (max-width: 640px) {
            height: 40px;
        }
        @media screen and (max-width: 568px) {
            height: 30px;
        }
    }
    .product-name {
        font-size: 0.35em;
        text-align: center;
        margin-top: -3px;
    }
    .icon-image {
        height: 100%;
    }
    .gu-hide {
        left: -9999px !important;
    }
    .gu-unselectable {
        user-select: none !important;
    }
    .gu-transit {
        visibility: hidden;
        font-size: 0.05em;
        text-align: center;
        padding-bottom: 10px;
    }
    .hide {
        display: none;
    }
    .categories-block {
        display: inline-block;
        width: 54%;
        float: left;
        @media screen and (max-width: 1367px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 60%;
        }
        @media screen and (max-width: 1025px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 60%;
        }
        @media screen and (max-width: 824px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 813px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 737px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 732px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 668px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 641px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        @media screen and (max-width: 569px) {
            margin-top: -25px;
            margin-bottom: -50px;
            width: 54%;
        }
        .category-button {
            width: 40vw;
            object-fit: contain;
        }
        .hide {
            display: none;
        }
    }
    .product-container {
        position: relative;
        height: 70px;
        @media screen and (max-width: 1367px) {
            height: 11vh;
        }
        @media screen and (max-width: 1025px) {
            height: 14vh;
        }
        @media screen and (max-width: 824px) {
            height: 14vh;
        }
        @media screen and (max-width: 813px) {
            height: 15vh;
        }
        @media screen and (max-width: 737px) {
            height: 15vh;
        }
        //641 - 17vh
        @media screen and (max-width: 732px) {
            height: 14vh;
        }
        //569 - 640
        @media screen and (max-width: 641px) {
            height: 15vh;
        }
        //480 - 568
        @media screen and (max-width: 569px) {
            height: 14vh;
        }
    }
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .product-absolute {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
    }
    .center-element {
        position: absolute;
        top: 50%;
    }
    .arrow {
        height: 8vh;
        width: 3.8vw;
    }
}

.listButton{
    margin-top: 1%;
    right:25%;
}