.supermarket-container {
    
    background-image: url(../../assets/imgs/backgroundlista0.jpg);
    overflow-y: hidden;
    background-size: cover;

    .nav-bar-market {

        position: relative;
        margin-bottom: 15px;

        .music-logo-market {
            position: absolute;
            right: 0%;
            top: 0%;
            width: 8%;
        }

        .market-header {
            
            top: 12px;
            position: absolute;
            width: 100%;

            .supermarket-title{
                color: white;
                text-align: center;
            }
         }
    }



.container {
    display: table;
    width: 92vw;
}

.superior-block{
    z-index: 1;
}

.products-to-play {
    float: left;
    text-align: center;
    width: 40%;
    @media screen and (max-width: 1367px) {
        width: 60%;
        height: 100%;
    }
    @media screen and (max-width: 1366px) {
        width: 61%;
        height: 100%;
    }
    @media screen and (max-width: 1024px) {
        width: 58%;
        height: 100%;
    }
    @media screen and ( max-width: 900px) {
        width: 53%;
        height: 100%;
    }
    @media screen and ( max-width: 824px) {
        width: 48%;
        height: 100%;
    }
    @media screen and ( max-width: 812px) {
        width: 49%;
        height: 100%;
    }
    @media screen and ( max-width: 736px) {
        width: 54%;
        height: 100%;
    }
    @media screen and (max-width: 731px) {
        width: 54%;
        height: 100%;
    }
    @media screen and (max-width: 691px) {
        width: 43%;
        height: 100%;
    }
    @media screen and (max-width: 668px) {
        width: 53%;
        height: 100%;
    }
    @media screen and (max-width: 640px) {
        width: 55%;
        height: 100%;
    }
    @media screen and (max-width: 568px) {
        width: 54%;
        height: 100%;
    }
}

.products-to-buy {
    float: right;
    border: solid 2px black;
    border-radius: 8px;
    text-align: center;
    width: 40%;
    background-color: #fff;
    @media screen and (max-width: 1367px) {
        width: 47%;
        height: 100%;
    }
    @media screen and (max-width: 1366px) {
        width: 39%;
        height: 100%;
    }
    @media screen and (max-width: 1024px) {
        width: 42%;
        height: 100%;
    }
    @media screen and ( max-width: 900px) {
        width: 53%;
        height: 100%;
    }
    @media screen and ( max-width: 824px) {
        width: 39%;
        height: 100%;
    }
    @media screen and ( max-width: 736px) {
        width: 41%;
        height: 100%;
    }
    @media screen and (max-width: 731px) {
        width: 41%;
        height: 100%;
    }
    @media screen and (max-width: 691px) {
        width: 43%;
        height: 100%;
    }
    @media screen and (max-width: 668px) {
        width: 40%;
        height: 100%;
    }
    @media screen and (max-width: 640px) {
        width: 43%;
        height: 100%;
    }
    @media screen and (max-width: 568px) {
        width: 41%;
        height: 100%;
    }
}

.title {
    margin-top: 2px;
    font-size: 0.75em;
    @media screen and (max-width: 1367px) {
        font-size: 1.8em;
    }
    @media screen and (max-width: 1024px) {
        font-size: 1.3em;
    }
}

.product-block {
    display: inline-block;
    margin: 2px;
    position: relative;
    width: 70px;
    height: 70px;
    @media screen and (max-width: 1367px) {
        margin-left: 2px;
        margin-right: 13px;
        margin-bottom: 13px;
    }
    @media screen and (max-width: 1367px) {
        margin-left: 3px;
        margin-right: 11px;
        margin-bottom: 15px;
        width: 141px;
        height: 122px;
    }
    @media screen and (max-width: 1024px) {
        width: 106px;
        height: 105px;
    }
    @media screen and (max-width: 824px) {
        width: 67px;
        height: 60px;
    }
    @media screen and (max-width: 668px) {
        margin: 5px;
        width: 70px;
        height: 60px;
    }
    @media screen and (max-width: 640px) {
        width: 70px;
        height: 60px;
    }
    @media screen and (max-width: 568px) {
        width: 60px;
        height: 50px;
    }
}

.product-info {
    border: solid 1px black;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0px;
    @media screen and (max-width: 1367px) {
        width: 141px;
        height: 122px;
    }
    @media screen and (max-width: 1024px) {
        width: 106px;
        height: 105px;
    }
    @media screen and (max-width: 824px) {
        width: 67px;
        height: 60px;
    }
    @media screen and (max-width: 668px) {
        width: 70px;
        height: 60px;
    }
    @media screen and (max-width: 640px) {
        width: 70px;
        height: 60px;
    }
    @media screen and (max-width: 568px) {
        width: 60px;
        height: 50px;
    }
}

.product-store {
    object-fit: fill;
    width: 70%;
    height: 50px;
    @media screen and (max-width: 1367px) {
        height: 77px;
    }
    @media screen and (max-width: 1024px) {
        height: 77px;
    }
    @media screen and (max-width: 824px) {
        height: 42px;
    }
    @media screen and (max-width: 668px) {
        height: 42px;
    }
    @media screen and (max-width: 640px) {
        height: 40px;
    }
    @media screen and (max-width: 568px) {
        height: 30px;
    }
}

.product-name {
    font-size: 0.75em;
    @media screen and (max-width: 1367px) {
        font-size: 1.5em;
    }
    @media screen and (max-width: 1024px) {
        font-size: 1.1em;
    }
    @media screen and (max-width: 824px) {
        font-size: 0.67em;
    }
    text-align: center;
    margin-top: -3px;
}

.icon-image {
    height: 100%;
    float: right;
    margin-right: 15%;
}

.gu-mirror {
    position: absolute;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    filter: alpha(opacity=80);
    pointer-events: none;
    visibility: initial;
    font-size: 1.4rem;
    .product-name {
        font-size: 0.75em;
        @media screen and (max-width: 1367px) {
            font-size: 1.5em;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1.1em;
        }
        @media screen and (max-width: 824px) {
            font-size: 0.67em;
        }
        //text-align: center;
        //margin-top: -3px;
    }
    .product-store{
        width: 70%;
        height: 50px;
        @media screen and (max-width: 1367px) {
            height: 77px;
        }
        @media screen and (max-width: 1024px) {
            height: 77px;
        }
        @media screen and (max-width: 824px) {
            height: 42px;
        }
        @media screen and (max-width: 668px) {
            height: 42px;
        }
        @media screen and (max-width: 640px) {
            height: 40px;
        }
        @media screen and (max-width: 568px) {
            height: 30px;
        }
    }
}

.carrito_container {
    position: absolute;
    top: 65%;
    right: 5%;
    width: 23%;
    //display: table;
    //width: 92vw;
    //max-height:100%;
}

.product-container{
    position: relative;
}

.product-absolute {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    visibility: hidden;
}
}