<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button icon-only (click)="popPage()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <div class="music-logo">
            <img [src]="imageSound" alt="" (click)="stopSound()">
        </div>
        <div class="level-header">
            <h1 class="change-level">SUPER MERCADO</h1>
        </div>

    </ion-navbar>

</ion-header>

<ion-content no-bounce padding class="main-container">
    <div class="container">
        <div class="products-to-play">
            <div class="product-block" *ngFor="let product of productsToPlay" id="play-{{product.title}}" dragula="{{selectorName}}">
                <div id="productPlay-{{product.id}}" class="product-info superior-block">
                    <img class="product-store" src="{{product.image}}" />
                    <p class="product-name">{{product.title}}</p>
                </div>
            </div>
        </div>
        <div id="high_container" class="products-to-buy">
            <div class="title">COMPRAR</div>
            <div class="product-block" *ngFor="let product of productsToBuy" id="{{product.title}}">
                <div id="product-{{product.id}}" class="product-info product-container">
                    <img class="product-store" src="{{product.image}}" />
                    <img id="img-play-{{product.title}}" class="product-store product-absolute" src="../../assets/imgs/check-symbol.png" />
                    <p class="product-name">{{product.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="carrito" class="carrito_container">
        <img class="icon-image product-objetive-container" src="../../assets/imgs/carrito.png" dragula="{{selectorName}}"/>
    </div>
</ion-content>