*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;
}

.heading{
    width:600px;
    height:300px;
    margin:auto;
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

.presentation{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .select-button{
        background: rgba(60, 140, 231, 3);
        color: white;
        border: 3px solid white;
        border-radius: 50%;
    }
    .main-text{
        color: white;
        font-weight: 900;
        font-size: 20px;
        font-family: "Helvetica Neue", "Roboto", sans-serif;
        width: 66%;
        text-align: center;
    }
    .temporize{
        margin-top: 15px;
        height: 62px;
        width: 62px;
        border: 3px solid white;
        border-radius: 50%;
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 56px;
        font-size: 40px;
        font-weight: 900;
    }
}

.presentation-no-visible{
    visibility: hidden;
}
