page-login-options {

}
.buttons{
    display: flex;
    justify-content: center;
}

.loggedUsername {
    text-align: center;
    font-family: big john;
    color: white;
    font-size: 200%;
}

.user-coin-icon{
    text-align: center;
    padding-left: 10%;
}

img {
    width: 100px;
    height: 100px;
}