page-home {
    
}
.main {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
   
}
.main-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    
}
.game-images{
    display: flex;
    justify-content: space-around;
}
.main img{
    height: 50%;
    width: 25%;
   
    
}
.logo {
    display: flex;
    justify-content: center;
}
.superapp-logo {
    
}
.music-logo{
    position:absolute;
    top:1%;
    height: 20%;
    width: 30%;
}