.main {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.main-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    @media screen and (min-width: 1365px) and (max-width: 1367px) {
        font-size: 7em;
    }

    @media screen and (min-width: 1023px) and (max-width: 1365px) {
        font-size: 5em;
    }
}
.game-images{
    display: flex;
    justify-content: space-around;

    .option {
        height: 50%;
        width: 25%;

        @media screen and (min-width: 1023px) and (max-width: 1367px) {
            height: 100%;
            width: 30%;
        }
        
    }

}

.logo {
    display: flex;
    justify-content: center;

    .superapp-logo {

        height: 50%;
        width: 25%;

        @media screen and (min-width: 810px) and (max-width: 813px) {
            height: 30%;
            width: 20%;
        }

        @media screen and (min-width: 1023px) and (max-width: 1367px) {
            height: 70%;
            width: 40%;
        }
    }
}
.music-logo{
    position:absolute;
    left: 94%;
    top:1%;
    
    height: 22%;
    width: 28%;
}
.edit-logo{
    position:absolute;
    left: 1%;
    top:5%;
    
    height: 14%;
    width: 20%;
}