.category-content{
    border-radius: 20px !important;
}

.category-content-sliding {
    border-radius: 10px !important;
    position: relative;
}

.main-categories {
    background-image: linear-gradient(135deg, #5da5f7 10%, #98e4eb 100%);
}
