page-select-difficulty{

}

.difficulty-container{
    display: flex;
    justify-content: space-around;
    &__mode{
        border: 1px solid red;
        width: 23%;
    }
    &:before{
        content: "";
        display: block;
        padding-top: 15%;
    }
}

.logo{
    display: flex;
    justify-content: center;
}
