<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tutorial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>


  
    <ion-card-content>
        <div class="logo-container">
          <div class="logo-superapp">
            <div class="logo-img">
              <img src="assets/imgs/shopping.svg" alt="">
            </div>
            <div class="logo-text">
              <h1 ion-text color="light" >SUPER APP</h1>
            </div>
          </div>
        </div>

          <ion-card color="stable">
            <ion-card-header>
              <h2 ion-text color="dark" text-center>¡Bienvenido a SuperApp!</h2>
            </ion-card-header>
          </ion-card>

          <ion-card color="stable">
          <ion-list>

              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque1()">Sobre SuperApp</a></b><br>
                  <div *ngIf="bloque1==true">
                    <ul>
                      <br>  
                      <p>El juego abarca múltiples áreas para desarrollar el reconocimiento, gestión y compra de los productos necesarios en el día a día dentro de los supermercados.</p>
                      <br>
                    </ul>
              </div></div>
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque2()">Juego del Super Mercado</a></b><br>
                  <div *ngIf="bloque2==true">
                    <ul>
                      <br>
                      <p>En este juego deberás poner dentro del carrito de supermercado los elementos que figuran en la lista de compras.</p>
                      <div class="videoGif">
                        <img src="assets/imgs/tutorial/supermercado.gif" alt="">
                      </div>
                    </ul>
              </div></div>
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque3()">Juego de las Palabras</a></b><br>
                  <div *ngIf="bloque3==true">
                    <ul>
                      <br>
                      <p>En este juego deberás escribir letra por letra la palabra que se ve en la pantalla. Ten en cuenta que el orden no importa.</p>
                      <div class="videoGif">
                        <img src="assets/imgs/tutorial/palabras.gif" alt="">
                      </div>
                    </ul>
              </div></div>

              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque4()">Cambiar de Nivel</a></b><br>
                  <div *ngIf="bloque4==true">
                    <ul>
                      <br>
                      <p>En ambos juegos puedes moverte dentro de los niveles ya jugados. Para esto debes tocar donde dice NIVEL # en el titulo del nivel actual y elegir otro nivel.</p>
                      <div class="videoGif">
                        <img src="assets/imgs/tutorial/cambiarNivel.gif" alt="">
                      </div>                      
                    </ul>
              </div></div>
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque5()">Lista del Super Mercado</a></b><br>
                  <div *ngIf="bloque5==true">
                    <ul>
                      <br>
                      <p>La lista del super sive para que puedas poner en el carrito cosas que necesites comprar y luego ir a la tienda y marcar cada item a medida que lo hayas encontrado y puesto en tu carrito de verdad. Además de los  items precargados puedes agregar nuevos o editarlos.</p>
                      <div class="videoGif">
                        <img src="assets/imgs/tutorial/listaMercado.gif" alt="">
                      </div>                      
                      <p>Para editar los items, debes ingresar al menú de edición tocando el nombre de la sección en la parte superior de la pantalla.</p>
                    </ul>
              </div></div>
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque6()">Volumen</a></b><br>
                  <div *ngIf="bloque6==true">
                    <ul>
                      <br>
                      <p>Al presionar el botón de Volumen se activan y desactivan todos los sonidos de la aplicación.</p>
                      <div class="videoGif">
                        <img src="assets/imgs/tutorial/volumen.gif" alt="">
                      </div>                      
                    </ul>
              </div></div>
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque7()">Usuarios</a></b><br>
                  <div *ngIf="bloque7==true">
                    <ul>
                      <br>
                      <p>Se puede crear diferentes usuarios escribiendo un nombre de usuario y eligiendo un avatar para el mismo, tomando una foto o eligiendo una imagen desde la galería del dispositivo.El botón de al lado sirve para ingresar con los usuarios que ya fueron creados.</p>                      
                      <li>
                        <br>
                        <p>•	Crear usuario con un avatar</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/crearusuario.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Crear usuario con una foto de la galería</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/crearusuario3.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Crear usuario con una foto tomada con el dispositivo</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/crearUsuariofoto.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Ingresar a la aplicación con un usuario creado</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/ingresarConUsuario.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Cambiar usuario</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/cambiarDeUsuario.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Editar usuario</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/editarUsuario.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <br>
                        <p>•	Eliminar usuario</p>
                        <div class="videoGif">
                          <img src="assets/imgs/tutorial/eliminarUsuario.gif" alt="">
                        </div>
                      </li> 
                    </ul>
              </div></div>   
              <div>
                  <b><a class="MV-Boly" (click)="showHideBloque8()">Editar Productos</a></b><br>
                  <div *ngIf="bloque8==true">
                    <ul>
                      <li>
                        <br>
                        <p>Al presionar el icono indicado a continuación accederás a la lista de productos registrados del usuario actual. En el mismo puedes:</p>
                      </li>
                      <li>
                        <br>
                        <p></p>
                      </li>
                      <li>
                        <p>•	Agregar un nuevo producto</p>
                        <div class="videoGifVertical">
                          <img src="assets/imgs/tutorial/nuevoProducto.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Administrar las categorías</p>
                        <div class="videoGifVertical">
                          <img src="assets/imgs/tutorial/administrarCategoria.gif" alt="">
                        </div>
                      </li>
                      <li>
                        <p>•	Escuchar el sonido de cada producto, editarlo y marcarlo o desmarcarlo como Activo para los juegos de la aplicación.</p>
                        <div class="videoGifVertical">
                          <img src="assets/imgs/tutorial/reproducirSonido.gif" alt="">
                        </div>
                      </li>
                    </ul>
              </div></div>  
          </ion-list>
        </ion-card>

      <ion-buttons end>
          <button ion-button navPop>
            <ion-icon ></ion-icon>
            Aceptar
          </button>
        </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
