.main-list {
    background-image: linear-gradient( #3ce761 10%, #00ff9d 100%);
}

.main-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.product-store {
    object-fit: fill;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.product-name {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
}

.cant-product {
    position: absolute;
    visibility: visible;
    background: url("../../assets/imgs/bigsquare.png") no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    right: 1%;
    top: 30%;
}

.number {
    position: relative;
    top: 8%;
    left: 10%;
    width: 80%;
    font-size: 100px;
    text-align: center;
}

.shopping-cart {
    background: transparent !important;
}

.objetive-container {
    padding-top: 5%;
}

.gu-mirror {
    position: absolute;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    filter: alpha(opacity=80);
    pointer-events: none;
    visibility: initial;
}

.gu-hide {
    left: -9999px !important;
}

.gu-unselectable {
    user-select: none !important;
}

.gu-transit {
    visibility: hidden;
}

.customIcon {
    font-size: 1.7em;
}