.main-list {
  background-image: url("../../assets/imgs/backgroundlista0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden !important;
  padding: 2px !important;

  .scroll-content{
     overflow: hidden;
}
  .list_categories-block {
    display: inline-block;
    width: 54%;
    float: left;

    .list_category-button {
      width: 40vw;
      object-fit: fill;
    }
  }
  ion-header[transparent] .toolbar-background { 
    background: transparent;
    box-shadow: 0px;
  }

  .category-title{
    display:block;
    color: black;
    font-size: 1.2em;
    font-weight: 420;
    text-align: center;
    width: 48% !important; 

    @media screen and (max-width: 640px) {     
      width: 50% !important;  
    }

    @media screen and (max-width: 568px) {      
      width: 50% !important;
    }
  }

  .shelves {
    width: 48% !important;
    height: 70%;
    min-height: 60%;
    float: left;
    padding-left: 6%;
    background-image: url("../../assets/imgs/shelves_list.png");
    background-size: 100% 100%;

    @media screen and (max-width: 750px) {
      padding-left: 4%;
    }

    @media screen and (max-width: 640px) {
      padding-left: 3%;
      width: 50% !important;
    }

    @media screen and (max-width: 568px) {
      padding-left: 4%;
      width: 50% !important;
    }

    .product-block {
      display: flex;
      margin-top: 2.8%; 

      @media screen and (max-height: 1024px) {              
        margin-top: 4%;
      }

      @media screen and (max-height: 768px) {
        margin-left: 5px;
        margin-right: 5px;        
        margin-top: 6.4%;
      }

      @media screen and (max-height: 375px){
        margin-top: 0.6%;
      }

      @media screen and (max-height: 360px){
        margin-top: 2.3%;
      }

      @media screen and (max-height: 420px){
        margin-top: 3.1%;
      }



      .product-info {
        border: solid 1px black;
        width: 70px;
        height: 70px;
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden;
        font-family: Arial;
        font-weight: bold;

        @media screen and (max-width: 1367px) {
          width: 120px;
          height: 180px;
        }

        @media screen and (max-width: 1024px) {
          width: 80px;
          height: 120px;
        }

        @media screen and (max-width: 824px) {
          width: 60px;
          height: 60px;
        }

        @media screen and (max-width: 667px) {
          width: 60px;
          height: 60px;
        }

        @media screen and (max-width: 640px) {
          width: 60px;
          height: 55px;
        }

        @media screen and (max-width: 568px) {
          width: 50px;
          height: 50px;
        }

        .product-store {
          object-fit: fill;
          width: 100%;
          height: 50px;

          @media screen and (max-width: 1367px) {
            height: 140px;
          }

          @media screen and (max-width: 1024px) {
            height: 100px;
          }

          @media screen and (max-width: 824px) {
            height: 42px;
          }

          @media screen and (max-width: 668px) {
            height: 42px;
          }

          @media screen and (max-width: 640px) {
            height: 40px;
          }

          @media screen and (max-width: 568px) {
            height: 30px;
          }
        }

        .product-name {
          font-size: 65%;
          text-align: center;
          margin-top: -2px;
        }
      }
    }
  }

  .icon{
    width: 4vw;
    height: 8vh;
    display: inline-block;
    position: relative;
    left:75%;
    .save{
      left: 60%;
    }
    .open{
      left: 60%;
    }
    .delete{
      left: 60%;
    }
  }

  .objetive-container {
    float: right;
    width: 41%;
    height: 100%;
    border: none;
    background-image: url(../../assets/imgs/sheet.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 6px;
    padding-top: 5%;
    transform: translateY(-73%);

    .scroll-container {
      width: 100%;
      height: 72%;

      @media screen and (max-width: 640px) {
        height: 68%;
      }

      @media screen and (max-width: 568px) {
        height: 65%;
      }

      .scroll-content {
        padding: 2px !important;
        overflow-y: scroll;
      }

      .product-section {
        background: #f4f4f4;
        padding: 10px;
        height: 78px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 5px;
        border: solid 3px #d6d6d6;
        position: relative;
        width: 100%;
        padding: 6px;      

        .product-description-section {
          object-fit: fill;
          float: right;
          width: 60%;
          height: 100%;
          display: table;

          .product-description {
            font-weight: bold;
            font-size: 2em;
            display: table-cell;

            @media screen and (max-width: 750px) {
              font-size: 1.6em;
            }

            @media screen and (max-width: 570px) {
              font-size: 0.8em;
            }
          }
        }
        .product-listed {
          border: solid 1px black;
          width: 70px;
          height: 70px;
          border-radius: 8px;
          background-color: #fff;
          overflow: hidden;

          @media screen and (max-width: 1367px) {
            width: 220px;
            height: 180px;
          }

          @media screen and (max-width: 1024px) {
            width: 150px;
            height: 130px;
          }

          @media screen and (max-width: 824px) {
            width: 60px;
            height: 60px;
          }

          @media screen and (max-width: 668px) {
            width: 70px;
            height: 60px;
          }

          @media screen and (max-width: 640px) {
            width: 70px;
            height: 60px;
          }

          @media screen and (max-width: 568px) {
            width: 60px;
            height: 50px;
            }
        }

        .options-section {
          width: 8%;
          background-color: inherit;
          position: sticky;
          left: 100%;

          @media screen and (max-width: 750px) {
            width: 20px;
          }
        }
      }
    }
  }

  .products-card {
    background-color: #fff;
    float: left;
    width: 37%;
    height: 32%;
    border-radius: 8px;
    padding: 2px;

    .product-card-title {
      font-size: 1.5em;
      text-align: center;

      @media screen and (max-width: 1367px) and (min-width: 1360px) {
        font-size: 3.6em;
        padding-top: 5px;
      }

      @media screen and (max-width: 1025px) and (min-width: 1000px) {
        font-size: 2.6em;
        padding-top: 5px;
      }

      @media screen and (max-width: 668px) {
        font-size: 1.4em;
      }

      @media screen and (max-width: 640px) {
        font-size: 1.3em;
      }

      @media screen and (max-width: 569px) {
        font-size: 1em;
      }
    }

    .product-card-info {
      font-size: 1.5em;
      text-align: center;

      @media screen and (max-width: 1367px) and (min-width: 1360px) {
        font-size: 4.6em;
        padding-top: 5px;
      }

      @media screen and (max-width: 1025px) and (min-width: 1000px) {
        font-size: 3em;
        padding-top: 5px;
      }

      @media screen and (max-width: 824px) {
        font-size: 2em;
      }

      @media screen and (max-width: 668px) {
        font-size: 1.6em;
      }

      @media screen and (max-width: 640px) {
        font-size: 1.6em;
      }

      @media screen and (max-width: 569px) {
        font-size: 1.3em;
      }
    }

    .button-product-card {
      background-color: red;
      color: white;
      padding: 5px;
      border-radius: 8px;
      margin: auto;
      display: inherit;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:active {
        background-color: #488aff;
        box-shadow: none;
      }

      @media screen and (max-width: 1367px) and (min-width: 1360px) {
        padding: 20px;
        margin: auto;
        font-size: 2em;
      }

      @media screen and (max-width: 1025px) and (min-width: 1000px) {
        padding: 13px;
        margin: auto;
        font-size: 2em;
      }

      @media screen and (max-width: 824px) {
        font-size: 1.2em;
      }

      @media screen and (max-width: 813px) {
        font-size: 1em;
      }

      @media screen and (max-width: 737px) {
        font-size: 1.3em;
      }

      @media screen and (max-width: 668px) {
        padding: 8px;
        font-size: 1em;
      }

      @media screen and (max-width: 640px) {
        padding: 5px;
        font-size: 1.2em;
      }

      @media screen and (max-width: 569px) {
        padding: 6px;
        font-size: 1em;
      }
    }
  }
}

.button-category-card {
    background-color: rgb(95, 104, 236);
    color: white;
    padding: 5px;
    border-radius: 7px;
    margin: auto;
    display: inherit;
    width: 100%;
    height: 100%;
    font-size: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:active {
        background-color: rgb(255, 93, 72);
        box-shadow: none;
    }
}

.gu-mirror {
    margin: 0 !important;
    z-index: -9999 !important;
    font-family: Arial;
    border: solid 1px black;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    object-fit: fill;
    position: absolute;
    .product-store {
        width: 100%;
        height: 50px;
        @media screen and (max-width: 1367px) {
            height: 140px;
        }
        @media screen and (max-width: 1024px) {
            height: 100px;
        }
        @media screen and (max-width: 824px) {
            height: 42px;
        }
        @media screen and (max-width: 668px) {
            height: 42px;
        }
        @media screen and (max-width: 640px) {
            height: 40px;
        }
        @media screen and (max-width: 568px) {
            height: 30px;
        }
    }
    .product-name {
        @media screen and (min-width: 1024px) and (max-width: 1367px) {
            font-size: 2em;
        }
    }
}

.gu-unselectable {
    user-select: none !important;
}

.arrow{
    height: 8vh;
    width: 3.8vw;
}

.hide{
  display: none;
}

.back-arrow {
  background-color: transparent;
  box-shadow: none;
}

.create-list{
  border-radius: 20px !important;
  width: 50%;
  position: relative;
  left: 20%;
}
