.main-list {
    background-image: linear-gradient( #3ce761 10%, #00ff9d 100%);
}

.main-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.product-store {
    object-fit: fill;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.product-name {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
}

.shopping-cart {
    background: transparent !important;
}

.objetive-container{
    padding-top: 5%;
}

// ===========================================================

.gu-mirror {
    position: absolute;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    filter: alpha(opacity=80);
    pointer-events: none;
    visibility: initial;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    visibility: hidden;
}

