<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (click)="goToRoot()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Carrito de compras</ion-title>
        <div class="music-logo">
            <img [src]="imageSound" alt="" (click)="stopSound()">
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding class="main-list">
    <h2 class="main-title" (click)="pushProduct(this.selectedCategory.id)" >{{selectedCategory.name}}</h2>
    <ion-list class="stand-products">
        <ion-row>
            <div class="product-block" *ngFor="let product of products" id="{{product.title}}" dragula="PRODUCT">
                <div id="product-{{product.id}}" class="product-info">
                    <img class="product-store" src="{{product.image}}" />
                    <p class="product-name">{{product.title}}</p>
                </div>
            </div>
        </ion-row>
        <ion-row>
            <ion-col *ngFor="let category of categories" col-3>
                <button class="button-category-card" (click)="onSelectCategory(category)">{{category.name}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
    <div id="ignore-item" class="objetive-container" dragula="PRODUCT"></div>
    <div class="products-card">
        <p class="product-card-title">Productos en el carrito</p>
        <p class="product-card-info">{{quantityproductsString}}</p>
        <button class="button-product-card" (click)="pushProducts()">Ver Productos</button>
    </div>
</ion-content>
