page-lista {}

.main-list {
    background-image: linear-gradient( #3ce761 10%, #00ff9d 100%);
}

.main-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.product-store {
    object-fit: fill;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.product-name {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
}