<ion-header>
    <ion-navbar>
        <ion-title>NIVEL</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class={{color}}>
        
    <h1 id="asda" style="text-align:center">{{product}}</h1>      
  
    <ul class="item-container item-container--shortest">
        <div *ngFor="let letter of letter_response" class="{{letter.name}} relative-container objetive-container" dragula="LETTER">
        </div>
    </ul>

    <div class="product-image"> 
        <img src={{image_route}} class="product">        
    </div>
</ion-content>

<ion-footer style="text-align: center">
    <ul class="item-container" >
        <div class="{{letter.name}} relative-container" *ngFor="let letter of letters_color" dragula="LETTER"> 
            <div class="letter_container">
                <b class="letter" [ngStyle]="{'color': letter.color}">{{letter.letter}}</b>
            </div>
        </div>
    </ul>
</ion-footer>
