<ion-header>
    <ion-navbar>
        <ion-title>NIVEL</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class={{color}}>
    <ul class="item-container" >
        <div class="relative-container" *ngFor="let letter of sorted_letters"> 
            <div>
                <b class="letter" [ngStyle]="{'color': letter.color}">{{letter.letter}}</b>
            </div>
        </div>
    </ul>
  
    <ul class="item-container item-container--shortest">
        <div *ngFor="let letter of letter_response" class="{{letter.name}} relative-container objetive-container" dragula="{{selectorName}}">
        </div>
    </ul>

        <img src={{image_route}} class="product">        
</ion-content>

<ion-footer style="text-align: center">
    <ul class="item-container" >
        <div class="{{letter.name}} relative-container" *ngFor="let letter of messy_letters" dragula="{{selectorName}}"> 
            <div class="letter_container">
                <b class="letter" [ngStyle]="{'color': letter.color}">{{letter.letter}}</b>
            </div>
        </div>
    </ul>
</ion-footer>
