
.color-background-1 {
    background-color: #D8F781;
}
.color-background-2 {
    background-color: rgb(190, 129, 247);
}
.color-background-3 {
    background-color: rgb(129, 194, 247);
}
.color-background-4 {
    background-color: rgb(247, 129, 168);
}
.color-background-5 {
    background-color: rgb(129, 247, 149);
}

.product{
    position:absolute;
    height: 33%;
    top:20px;
    left:20px;
}
.box{
    position:absolute;
    top:0px;
    left:0px;
}
.product-image{
   top:10px;
   left:10px;
}
