page-products {


    .button {
        background-color: #d22222;
        border-radius: 5px;
        border: solid 1px white;

        @media screen and (min-width: 1024px) {
            width: 20%;
            height: 7%;
            font-size: 20px;
            border: solid 2px white;
        }

        @media screen and (min-width: 1366px) {
            width: 20%;
            height: 7%;
            font-size: 25px;
            border: solid 2px white;
        }
    }

    .main-products {

        padding: 10em;
        background-image: linear-gradient(135deg, #5da5f7 10%, #98e4eb 100%);   
        
        .product-section {

            background: #f4f4f4;
            padding: 10px;
            height: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: solid 3px #d6d6d6;
            position: relative;
            width: 100%;

            .product-image-section {

                float: left;
                margin-left: 20px;
                margin-right: 20px;
                height: 170px;
                width: 200px;

                .product-image {

                    border: solid 1px black;
                    border-radius: 10px;
                    overflow: hidden;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            .product-description-section {

                float: left;
                height: 100%;
                display: table;

                .product-description {

                    font-weight: bold;
                    font-size: 3em;
                    vertical-align: middle;
                    display: table-cell;

                    @media screen and (max-width: 750px) {
                        font-size: 2em;
                    }

                    @media screen and (max-width: 570px) {
                        font-size: 1.6em;
                    }
                }
            }

            .options-section {
                
                width: 35px;
                background: #f4f4f4;
                position: sticky;
                left: 100%;

                @media screen and (max-width: 750px) {
                    width: 20px;
                }
            }
        }        
    } 
}
