

page-products {
    

  
  /*ion-img {
      object-fit: resize;
      height: 5%;
      width: 70%;
      border: 1;
      padding: 0;
      background-color: white;
      margin: auto;
  }*/
  
.row_blank{
    background: #f4f4f4;
}

.product_image{
    width: 200%;
    height: 200%;
}
.exit{
    position: absolute;
    right: 10%;
    width: 10%;
    height: 10%;
}
.product_name{
    width: 100%;
    height: 500%;
}
  $colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
      );
 
}

.masters {
    background-color: #55acee;
  }

.customIcon {
    font-size: 1.7em;
}