<ion-header>
  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button ion-button (click)="goToRoot()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button (click)="goToCategories()">
          Categorias
        </button>
      </ion-buttons>
      <ion-title>EDITOR</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="main-editor" (click)="hideRowSelected()">
  <ion-list *ngFor="let product of products; let i = index" [attr.data-index]="i">
    <ion-item ion-long-press [interval]="500" (onPressing)="active(product.id)" class="product-content">
      <img class="product-image" src="{{product.image}}" item-start>
      {{product.title}}
      <ion-icon name="play" padding-left item-end (click)="playSoundOfWord(product.title, product.audio, i)" *ngIf="soundStatus[i]"></ion-icon>
      <ion-icon name="square" padding-left item-end (click)="stopAudio(product.audio, i)" *ngIf="!soundStatus[i]"></ion-icon>
      <ion-icon name="md-create" padding-products-editor item-end (click)="editProduct(product.id)"></ion-icon>          
      <ion-icon name="{{ product.state ? 'md-checkmark-circle' : 'md-close-circle' }}" padding-products-editor item-end (click)="changeState(product.id, product.state, product)"></ion-icon>
      <button id="delete-{{product.id}}" clear class="hidden" (click)="confirm(product)">
        <img src="../../assets/imgs/delete.png">
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
      <button class="button-create-product" (click)="pushCreateProduct()">Nuevo Item</button>
  </ion-toolbar>
</ion-footer>
