<ion-header>
  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button ion-button (click)="goToRoot()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button (click)="goToCategories()">
          Categorias
        </button>
      </ion-buttons>
      <ion-title>EDITOR</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="main-editor">
  <ion-list *ngFor="let product of products">
    <ion-item class="product-content">
      <img class="product-image" src="{{product.image}}" item-start>
      {{product.title}}
      <ion-icon name="play" padding-left item-end (click)="playSoundOfWord(product.title,product.audio)" *ngIf="playing"></ion-icon>
      <ion-icon name="pause" padding-left item-end (click)="stopAudio()" *ngIf="!playing"></ion-icon>
      <ion-icon name="md-create" padding-left item-end (click)="editProduct(product.id)"></ion-icon>          
      <ion-icon name="{{ product.state ? 'md-checkmark-circle' : 'md-close-circle' }}" padding-left item-end (click)="changeState(product.id, product.state)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
      <button class="button-create-product" (click)="pushCreateProduct()">Nuevo Item</button>
  </ion-toolbar>
</ion-footer>
