.product-content{
    border-radius: 10px !important;
    position: relative;
}

.product-image {

    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
    height: 15%;
    width: 15%;
    max-height: 15%;
    max-width: 15%; 
}

.main-editor {
    background-image: linear-gradient(135deg, #5da5f7 10%, #98e4eb 100%);
}

.button-create-product {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    display: inherit;
}

.options-section {
    width: 5vw;
    background-color: inherit;
    position: absolute;
    left: 95%;
    bottom: 65%;

    @media screen and (max-width: 411px) {
        left: 94%;
    }

    @media screen and (max-width: 360px) {
        left: 93%;
    }
  }